@model Login.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<body>
    <div class="row col-lg-12" align="center" style="padding:40px">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h3>Welcome @Model.userFullname</h3>
        </div>
        </div>
        <div class="col-lg-3"></div>
</body>

